<%= form_for [ @visit,@service ], :url=>create_services_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :service_name, class: "form-control" %> 
  </div>
  <div class="field">
    <%=  f.label :charges %>
    <%= f.text_field :charges, class: "form-control" %> 
  </div>
    
  <%= f.submit 'save'%>  
<% end %>
