<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading"> Progress notes </div>
      <div class="panel-body">
        <%= form_for [@visit, @discharge] do |f| %>
          <% if @discharge.errors.any? %>
            <div id="">

              <ul>
              <% @discharge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :final_diagnosis %><br>
            <%= f.text_field :final_diagnoses ,:class=>"form-control"%>
          </div>
          <div class="field">
            <%= f.label :reason_for_addmission%><br>
            <%= f.text_field :reason_for_addmission ,:class=>"form-control",:id=>"start_date_picker"%>
          </div>
          <div class="actions">
            <%= f.submit "save",:class=>"btn btn-primary" %>
          </div>
        <% end %>

 
      </div>  
  </div>
</div>





