<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @note.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @note.time %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @note.progress %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @note.treatment %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @note.remarks %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
