<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department_doctor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @department_doctor.age %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @department_doctor.specialization %>
</p>

<p>
  <strong>Email:</strong>
  <%= @department_doctor.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @department_doctor.password %>
</p>

<p>
  <strong>Department:</strong>
  <%= @department_doctor.department_id %>
</p>

<%= link_to 'Edit', edit_department_doctor_path(@department_doctor) %> |
<%= link_to 'Back', department_doctors_path %>
