
  <div class="panel-group">
    <div class="panel panel-default"> 
      <div class="panel-heading">Add Diagnosis</div>  
        <div class="panel-body">
          
          <%= form_for [@visit, @diagnosis] do |f| %>
            <% if @diagnosis.errors.any? %>
              <div id="">

                <ul>
                <% @diagnosis.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :name %><br>
              <%= f.select :name, options_for_select([["Cavity", "Cavity"],["Normal fever","fever"]]),{}, :class=>"form-control" %>
            </div>
            <div class="actions">
              <%= f.submit 'save', :class=>"btn btn-primary" %>
            </div>
          <% end %>
        </div>  
    </div>
  </div>




