<%if params[:visit_type] == "ipd" %>
  <%= render 'select_category' %>
<%end%>   
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
    <% if params[:visit_type] == "ipd"%>
      <div class="panel-heading">Ipd visit</div>
    <%else%>  
      <div class="panel-heading">Opd visit</div>
    <%end%>    
        <div class="panel-body">
            <%= form_for [@patient, @visit]  do |f| %>

              <% if @visit.errors.any? %>
                <div id="">
                  <ul>
                  <% @visit.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="field">
                <%= f.label :visit_id %><br>
                <% if params[:visit_type] == "ipd"%>
                  <%= f.text_field :id ,class: "form-control",:placeholder=>'Ipd Visit No',disabled: true %>
                <%else%>  

                  <%= f.text_field :id ,class: "form-control",:placeholder=>'Opd Visit No',disabled: true %>
                <%end%>
              </div>

              <div class="field">
                <%= f.label :doctor_id %><br>
                <%= f.select :doctor_id ,@doctors.all.map{|d| [ d.name, d.id ]},{:include_blank=>"Please select doctors"},class: "form-control" %>
              </div>
              <% if params[:visit_type] == "ipd"%>
                <div class="field">
                  <%= f.label :addmision_date %><br>
                  <%= f.text_field :date , class: "form-control start_date_picker " %>
                </div>
                <%= f.fields_for :visit_rooms do |visit_room| %>
                  <% render :partial=>'visit_room', locals: {visit_room: visit_room}%>
                <% end %>
              <%end%>
              <% if params[:visit_type] == "opd"%>
                <div class="field">
                  <%= f.label :visit_date %><br>
                  <%= f.text_field :date , class: "form-control start_date_picker" %>
                </div></br>
              <%end%>

              <div class="field">
                <%= f.hidden_field :visit_type,  :value=>params[:visit_type]  %>
              </div></br>
              <div class="actions">
                <%= f.submit 'save',  :class=>"btn btn-primary",:style=>"margin-top: -59px;" %>
              </div>
            <% end %>
        </div>  
    </div>
  </div>
</div>













