
<h3>Visit</h3>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>visit</th>
      <th>Date</th>
      <th>Patient name</th>
      <th>age</th>
      <th>address</th>
      <th>doctor</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= visit.date %></td>
        <td><%= visit.patient.patient_name %></td>
        <td><%= visit.patient.age %></td>
        <td>
          <%if visit.patient.present? && visit.patient.address.present?%>
            <%= visit.patient.address.city %>
          <%end%>
        </td>  
        <td><%= visit.department_doctor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
