<h3>Ipd Visits</h3>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Ipd id</th>
      <th>Patient name</th>
      <th>Doctor name</th>
      <th>Date Admit</th>
      <th>Room No</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <%unless visit.discharge.present?%>
        <tr>
          <td>
            <% if can? :show, Visit %>
              <%=link_to visit.id,visit_path(visit) %>
            <%else%>
              <%= visit.id %>
            <%end%>  
          </td>
          <td><%= visit.patient.patient_name %></td>  
          <td>  
            <%if visit.user.present?%>   
              <%= visit.user.name %>
            <%end%>
          </td>  
          <td><%= visit.date %></td>
          <td><%= visit.room_no %></td>
          <%#=link_to 'Progress Notes',new_visit_note_path(visit)%>
        </tr>
      <%end%>  
    <% end %>
  </tbody>
</table>

<br>