
<h3>Opd Visit</h3>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>visit Id</th>
      <th>Patient name</th>
      <th>Doctor name</th>
      <th>Opd date</th>
      <th>Register date</th>
      <th>Prescription detail</th>
      <th>Basic detail</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= visit.patient.patient_name %></td>  
        <%if visit.user.present?%>   
          <td><%= visit.user.name %></td>
        <%end%>
        <td><%= visit.date %></td>
        <td><%=visit.patient.created_at.strftime("%d-%m-%Y")%></td>
        <td><%=link_to 'Prescription detail',prescription_details_path(visit)%></td>
        <td><%=link_to 'Basic detail',visit_path(visit)%></td>
        <td><%#=link_to'service', new_visit_service_path(visit) %></td>
        <td><%=link_to'services',  visit_services_path(visit)  %></td>
        <td><%=link_to 'genrate bill',visit_genrate_bill_path(visit)%></td>
        <td>
          <%if visit.addmission.present?%>
            <%=link_to 'Admission', new_visit_addmission_path(visit) %>
          <%else%>
            <%=link_to 'Admission', new_visit_addmission_path(visit)  %>
          <%end%>
        </td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>