<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Opd Visit </div>
        <div class="panel-body">
          <table  class="table table-striped">
          <% if current_user.has_role?(:doctor)%>
            <%=render partial: 'search_visit_form'%>
          <%end%>  
            </br>
            </br>
            <thead>
              <tr>
                <th>OPD No</th>
                <th>Patient name</th>
                <th>Doctor name</th>
                <th>Visit Date</th>
                <th>Register date</th>
              </tr>
            </thead>

            <tbody class="visited_patient">
              <% @visits.each do |visit| %>
                <%unless visit.discharge.present?%>
                  <tr>
                    <td>
                      <% if can? :show, Visit %>
                        <%=link_to visit.id ,visit_path(visit) %>
                      <%else%>
                        <%=visit.id%>
                      <%end%>  
                    </td>
                    <td><%= visit.patient.patient_name %></td>  
                    <td>
                      <%if visit.user.present?%>   
                        <%= visit.user.name %>
                      <%end%>
                    </td>
                    <td><%= visit.date %></td>
                    <td><%=visit.patient.created_at.strftime("%d-%m-%Y")%></td>
                    <td><%#=link_to 'genrate bill',visit_genrate_bill_path(visit)%></td>
                  </tr>
                <%end%>  
              <% end %>
            </tbody>
          </table>
      </div>  
    </div>
  </div>
</div> 

