<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"> Opd visit</div>
        <div class="panel-body">
         <p>
          <strong>Visit no</strong>
            <%= @visit.id %>
          </p>

          <p>
            <strong>Date:</strong>
            <%= @visit.date %>
          </p>

          <p>
            <strong>Patient name</strong>
            <%=@visit.patient.patient_name%>
          </p>

          <p>
            <strong>Patient age</strong>
            <%=@visit.patient.age%>
          </p>
          <p>
            <strong>Consultant </strong>
            <%=@visit.department_doctor.name%>
          </p>

          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Drug Name</th>
                  <th>Description</th>
                  <th>schedule</th>

                  
                </tr>
              </thead>
              <tbody>
                <% @prescription_details.each do |prescription_detail| %>
                  <tr>
                    <td><%=prescription_detail.drug_name%></td>
                    <td><%=prescription_detail.description%></td>
                    <td><%=prescription_detail.schedule%></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
      </div>  
    </div>
  </div>
</div> 