<p id="notice"><%= notice %></p>

<h3>Opd visit</h3>

<p>
  <strong>Visit no</strong>
  0000<%= @visit.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.date %>
</p>

<p>
  <strong>Patient name</strong>
  <%=@visit.patient.patient_name%>
</p>

<p>
  <strong>Patient age</strong>
  <%=@visit.patient.age%>
</p>


<p>
  <strong>address</strong>
  <%if @visit.patient.present? && @visit.patient.address.present? %>
  	<%=@visit.patient.address.city%>
  <%end%>	
</p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.department_doctor.name %>
</p>



<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
