<p id="notice"><%= notice %></p>

<h3>Opd visit</h3>

<p>
  <strong>Visit no</strong>
  <%= @visit.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.date %>
</p>

<p>
  <strong>Patient name</strong>
  <%=@visit.patient.patient_name%>
</p>

<p>
  <strong>Patient age</strong>
  <%=@visit.patient.age%>
</p>


<p>
  <strong>address</strong>
  <%if @visit.patient.present? && @visit.patient.address.present? %>
  	<%=@visit.patient.address.city%>
  <%end%>	
</p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.department_doctor.name %>
</p>


<p>
  <strong>history</strong>
   <%=@basic_detail.patient_history%>
</p>
<p>
  <strong>weight</strong>
  <%=@basic_detail.weight %>
</p>
<p>
  <strong>Blood group</strong>
  <%=@basic_detail.blood_group%>
</p>
<p>
  <strong>Blood presure</strong>
  <%=@basic_detail.boold_presure%>
</p>
<p>
  <strong>Blood diagnosis</strong>
  <%=@basic_detail.diagnosis%>
</p>




<%#= link_to 'Edit', edit_visit_path(@visit) %> 
<%#= link_to 'Back', visits_path %>
