<table class="table table-striped">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>From Date</th>
      <th>From time</th>
      <th>End Date</th>
      <th>End time</th>
      <th>Operation Name</th>
      <th>Doctor Name</th>
      <th>Notes</th>
      <th>Oepration procedure</th>

    </tr>
  </thead>

  <tbody>
    <% @operation_theaters.each do |operation_theater| %>
      <tr>
        <td><%= operation_theater.visit.patient.patient_name if operation_theater.visit.patient.present?%></td>
        <td><%= operation_theater.from_date %></td>
        <td><%= operation_theater.from_time %></td>
        <td><%= operation_theater.end_date %></td>
        <td><%= operation_theater.end_time %></td>
        <td><%= operation_theater.operation_name %></td>
        <td><%= operation_theater.user.name %></td>
        <td><%= operation_theater.notes %></td>
        <td><%= operation_theater.operation_procedure %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
