<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Ipd addmission</div>
        <div class="panel-body">
          <%= form_for(@addmission) do |f| %>
            <div class="field">
              <%#= f.label :visit_id %><br>
              <%#= f.text_field :visit_id %>
            </div>
            <div class="field">
              <%= f.label :doctor_id %><br>
              <%= f.select :doctor_id ,@doctors.all.map{|d| [d.name,d.id ]},{},:class=>"form-control"%>
            </div>
            <div class="field">
              <%= f.label :patient_id %><br>
              <%= f.select :patient_id ,Patient.all.map{ |p| [p.patient_name,p.id]},{},:class=>"form-control"%>
            </div>
            <div class="field">
              <%= f.label :addmission_date %><br>
              <%= f.text_field :addmission_date,:class=>"form-control start_date_picker" %>
            </div>
            <div class="field">
              <%= f.label :discharge_date %><br>
              <%= f.text_field :discharge_date,:class=>"form-control start_date_picker" %>
            </div>
            <div class="actions">
              <%= f.submit'save', :class=>"btn btn-primary" %>
            </div>
          <% end %>
        </div> 
    </div>
  </div>
</div>      




<script>
  $('.start_date_picker').datepicker({
      format: 'yyyy-mm-dd',
      daysOfWeekDisabled: [0, 6],
      daysOfWeekHighlighted: [1, 2, 3, 4, 5],
      todayBtn: false
  })
</script>