<h1></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Ipd no</th>
      <th>Patient Name</th>
      <th>Doctor Name</th>
      <th>Addmission date</th>
      <th>Discharge date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addmissions.each do |addmission| %>
    <tr>
    <td><%=addmission.id %></td>  
    <td><%=addmission.patient.patient_name%></td>
    <td><%=addmission.user.name%></td>  
    <td><%=addmission.addmission_date%></td>
    <td><%=addmission.discharge_date%></td>
    <td><%=link_to'show',  addmission_path(addmission)%></td>
    </tr>  
  <% end %>
  </tbody>
</table>


<br>


