<p id="notice"><%= notice %></p>

<p>
  <strong>Visit:</strong>
  <%= @addmission.visit_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @addmission.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @addmission.patient_id %>
</p>

<p>
  <strong>Addmission date:</strong>
  <%= @addmission.addmission_date %>
</p>

<p>
  <strong>Discharge date:</strong>
  <%= @addmission.discharge_date %>
</p>

<%= link_to 'Edit', edit_addmission_path(@addmission) %> |
<%= link_to 'Back', addmissions_path %>
