<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select  :gender, options_for_select( [["Male"], ["Female"]]),{}, class: "form-control" %>
  </div>
  <%= f.fields_for :address do |patient_address| %>
  <div class="field">
    <%= patient_address.label :city %>
    <%= patient_address.text_field :city, class: "form-control" %>  
  </div>
  <div class="field">
    <%= patient_address.label :country %>
    <%= patient_address.text_field :country, class: "form-control" %>
  </div>
  <div class="field">  
    <%= patient_address.label :pincode %>
    <%= patient_address.text_field :pin_code, class: "form-control" %>
  </div>  
  <% end %>


  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>











