<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"> Patient Registration </div>
        <div class="panel-body">
          <%if can? :create, Patient %>
            <%= link_to 'Patient Registration', new_patient_path,:class=>"btn btn-primary",:style=>"margin-left: 80%;" %>
          <%end%>  
          <table class="table table-striped">
            <thead >
              <tr>
                <th>Registration Id</th>
                <th>Patient name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>city</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @patients.each do |patient| %>
                <tr>
                  <td><%= patient.id %></td>
                  <td><%= patient.patient_name %></td>
                  <td><%= patient.age %></td>
                  <td><%= patient.gender %></td>
                  <td><%= patient.address.city %></td>
                  <td><%= link_to 'Show', patient %></td>
                  <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
                  <td><%=link_to 'Appoinment',new_patient_appointment_path(patient) %>
                  <td><%#=link_to 'Admit', new_patient_addmission_path(patient)%></td>
                  <td><%=link_to 'visit',new_patient_visit_path(patient,:visit_type=> "opd") %></td>
                  <td><%=link_to 'Admit',new_patient_visit_path(patient,:visit_type=> "ipd") %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>  
    </div>
  </div>
</div>      
