<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"> Patient Details </div>
        <div class="panel-body">
            <div class="col-sm-6">
              <strong>Registration No:</strong>
              <%= @patient.id %>
            </div>
            
            <div class="col-sm-6">  
              <strong>Date:</strong>
              <%= @patient.created_at %>
            </div>


            <div class="col-sm-6">
              <strong>Patient name:</strong>
              <%= @patient.patient_name %>
            </div>

            <div class="col-sm-6">
              <strong>Age:</strong>
              <%= @patient.age %>
            </div>

            <div class="col-sm-6">
              <strong>Gender:</strong>
              <%= @patient.gender %>
            </div>

            <div class="col-sm-6">
              <strong>Location:</strong>
              <%= @address.city %>
            </div>



            <div class="col-sm-6">
              <strong>Country:</strong>
              <%= @address.country %>
            </div>

            <div class="col-sm-6">
              <strong>City:</strong>
              <%= @address.city %>
            </div>

            <div class="col-sm-6">
              <strong>Pin Code:</strong>
              <%= @address.pin_code%>
            </div>


        </div>  
    </div>
  </div>
</div>      
