<p id="notice"><%= notice %></p>

<p>
	<strong>Registration No:</strong>
  <%= @patient.id %></br>
  <strong>Date:</strong>
  <%= @patient.created_at %>
</p>


<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Pin Code:</strong>
  <%= @address.pin_code%>
</p>


<%= link_to 'Edit', edit_patient_path(@patient),:class=>"btn btn-primary" %> |

