<table class="table table-striped">
  <thead >
    <tr>
      <th>Drug name</th>
       <th>Quantity</th>
        <th>Description</th>
         <th>Schedule</th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_details.each do |prescription_detail| %>
      <tr>
        <td><%= prescription_detail.medicine.medicine_name if prescription_detail.medicine.present?%></td>
        <td><%= prescription_detail.quantity %></td>
        <td><%= prescription_detail.description %></td>
        <td><%= prescription_detail.schedule %></td>     
        <td><%=link_to'Remove',visit_prescription_detail_path(prescription_detail.visit, prescription_detail ),method: :delete %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%=link_to'Add prescription',new_visit_prescription_detail_path(@visit),:class=>"btn  btn-primary"%>

<br>
