<h1>Appoitnments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Patient name</th>
      <th>Doctor Name</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Visit</th>
    </tr>
  </thead>
  <tbody>
    <%@appointment.each do |appoint|%>
      <tr>
        <td><%=appoint.patient.id%></td>
        <%if appoint.patient.present?%>	
        	<td><%=appoint.patient.patient_name%></td>
      	<%end%>	
        <%if appoint.department_doctor.present?%>
          <td><%=appoint.department_doctor.name%></td>
        <%end%>
      	<td><%=appoint.date%></td>
        <td><%=appoint.appoint_time%></td>
        <td> 
          <% if appoint.visit.present?%>
            1
          <%else%>
            0  
          <%end%>
        </td>
        <td><%=link_to 'select visit' ,new_appointment_visit_path(appoint) %></td>
        <td><%=link_to'edit', edit_appointment_path(appoint)%></td>
        <td><%=link_to'destroy',appointment_path(appoint), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

