<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Appointment </div>
          <div class="panel-body">
            <h1>Appoitnments</h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Patient name</th>
                  <th>Doctor Name</th>
                  <th>Appointment Date</th>
                  <th>Appointment Time</th>
                  <th></th>
                  <%if can? :edit,Appointment %>
                    <th>edit</th>
                  <%end%>
                  <%if can? :delete ,Appointment %>
                    <th>delete</th>
                  <%end%> 
                </tr>
              </thead>
              <tbody>
                <%@appointments.each do |appoint|%>
                  <tr>
                    <td><%=appoint.id%></td>
                    <td>  
                      <%if appoint.patient.present?%> 
                        <%=appoint.patient.patient_name%>
                      <%end%>
                    </td>   
                    <td>  
                      <%if appoint.user.present?%>
                        <%=appoint.user.name%>
                      <%end%>
                    </td>  
                    <td><%=appoint.date%></td>
                    <td><%=appoint.appoint_time%></td>
                    <td>
                    <%if can? :edit, Appointment %>  
                      <td><%=link_to'edit',  edit_patient_appointment_path(appoint.patient,appoint)%></td>
                    <%end%>
                    <%if can? :delete, Appointment %>
                      <td><%=link_to'destroy',appointment_path(appoint), method: :delete, data: { confirm: 'Are you sure?' }%></td>
                    <%end%>  
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>  
    </div>
  </div>
</div>  