<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Edit Category </div>
          <div class="panel-body">
            <%=form_for @category do |f|%>
              <div> 
                <%=f.label :category%>  
                <%=f.text_field :category_type,:class=>"form-control"%>
              </div>
              <div>
                <%=f.label :description%>   
                <%=f.text_area :description,:class=>"form-control"%>
              </div>  
            </div>
              <%=f.submit 'save',:class=>"btn btn-primary"%>
            <%end%>
          </div>  
    </div>
  </div>
</div> 