<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Category </div>
          <div class="panel-body">
            <%if can? :create, Category%>
              <%=link_to 'Add Category', new_category_path, :class=>"btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal" ,:remote=>:true%>
          	<%end%>
            </br>
          	</br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Description</th>
                  <%if can? :edit, Room%>
                    <th>Edit/Delete</th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
								<%@categories.each do |category| %>
								<tr>
									<td>
										<%=category.category_type%>
									</td>
									<td>	
										<%=category.description%>
									</td>	
                  <%if can? :edit, Category%>
                    <td>
										  <%=link_to 'edit',edit_category_path(category),:remote=>true , "data-toggle" => "modal", "data-target" => "#myModal" %>/<%=link_to 'delete',category_path(category),method: :delete, data: {confirm: "Are you sure?"}%>
                    </td>
                  <%end%>
								<%end%>
              </tbody>
            </table>
          </div>  
    </div>
  </div>
</div>  


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Category</h4>
        </div>
        <div class="modal-body category_add">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>




<!-- <script>
  $('.category').click(function() {
    var ids = [];
    $(':checked').each(function(i, e) {
        ids.push($(this).val());
    });  
    var checked; 
    if ($(this).is(':checked')) {
      checked = true;
    } else {
      checked = false;
    } 
    $.ajax({
        type: "POST",
        url: "/category/search_room",
        data: { id: ids, checked: checked }
     });     
  });
</script> -->

<!-- <div class="show_room">

</div> -->