<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Category </div>
          <div class="panel-body">
            <%= link_to 'New Bed', new_bed_path,:class=>"btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal" ,:remote=>:true%>
            </br>
            </br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Bed no</th>
                  <th>Room no</th>
                  <th>Room Type</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <% @beds.each do |bed| %>
                  <tr>
                    <td><%= bed.bed_no %></td>
                    <td><%= bed.room.room_no  if bed.room.present?%></td>
                    <td>
                      <%=bed.room.category.category_type if bed.room.present? && bed.room.category.present?%></td>
                    <td>
                      <%= link_to 'Edit', edit_bed_path(bed) %>/
                      <%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>  
    </div>
  </div>
</div>  


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New</h4>
      </div>
      <div class="modal-body add">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
