<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Opd bill </div>
        <div class="panel-body">
          <p>Patient Registration no:<%=@visit.patient.id%></p>
          <p>Patient Name:<%=@visit.patient.patient_name%></p>
          <p>Visit id:<%=@visit.id%></p>
          <p>Consultant doctor:<%=@visit.user.name%></p>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Service name</th>
                  <th>Charges</th>
                 </tr>
              </thead>
              <tbody> 
                <%total= 0%>
                <%@services.each do |service| %>
                <tr> 
                  <td> 
                    <%=service.service_name%>
                  </td>
                  <td>  
                    <%=service.charges%>
                  </td> 
                  <%total +=service.charges.to_i%> 
                </tr>
                <%end%> 
                <tr>
                  <td>
                    <b>
                      Total
                    </b>
                  </td>
                  <td>
                    <%=total%>
                  </td>

                <tr>
              </tbody>
            </table>
          <button id="print" class="btn btn-primary">Print</button>
      </div>  
    </div>
  </div>
</div> 


<script>
  $("#print").click(function(){
    window.print();
});
</script>

















