<div style="margin-left: -213px;">
	<%if @visit.patient.present?%>
	  Patient Name:
	  <%=@visit.patient.patient_name%>
		Registration No:
		<%=@visit.patient.id%>
	<%end%>
</div>
<div id="sidebar-wrapper">	
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
      </li>
      <li>
        <%=link_to 'Basic Details',basic_detail_path(@visit) %> 
      </li>
      <li>
      	<%=link_to 'Diagnosis',  visit_diagnoses_path(@visit) %>
      </li>
      <li>
        <%=link_to 'Prescription Details',visit_prescription_details_path(@visit) %>
      </li>
      <li>
         <%=link_to 'Progress Notes',new_visit_note_path(@visit)%>
      </li>
      <li>
       <%=link_to 'Work sheet details', new_visit_worksheet_detail_path(@visit)%>
      </li>
      <li>
        <%=link_to 'Discharge',new_visit_discharge_path(@visit)%>
      </li>
      <li>
      	<%=link_to 'Patient Transfer',  new_visit_visit_room_path(@visit)%>
      </li>
      </li>



  </ul>
</div>
		  <!-- /#sidebar-wrapper -->